/* Estilos padrão para o files-container */
.files-wrapper {
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
}
.files-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 20% 3% 20%;
    background-color: rgb(255, 255, 255);
}

.files-title{
    padding-top: 0;
    font-size: 48px;
    font-family: 'Gravity-Bold';
    text-align: center;
    background-color: rgb(255, 255, 255);
}

/* Estilos para telas com largura até 1350px */
@media screen and (max-width: 1350px) {
    .files-container {
        flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
    }
    .files-title{
        padding-top: 95px;
    }
}

/* Estilos para telas com largura até 820px */
@media screen and (max-width: 820px) {
    .files-container {
        padding: 3% 5% 0% 5%; /* Reduz o padding para melhorar o layout em telas menores */
    }
}
