.footer-container{
    height: 100px;
    background-color: rgba(31, 10, 255, 0.6);
    backdrop-filter: blur(20px);
    color: white;
}

.footer-text{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}